<div class="row">

  <div clas="col-lg-12 ">

    <h1><span class="glyphicon glyphicon-flash" aria-hiddenh="true"></span> fitrep</h1>
    <h2>For your fitness tracking and reporting needs.</h2>


  </div>

</div>
