<div class="jumbotron">
  <center>
    <h1>fitrep</h1>
    <h2>For your fitness tracking and reporting needs.</h2>
    <br><br>
    <%= link_to "See the Demo!", workout_sessions_path, class: "new_workout_session btn btn-success" %>
  </center>
</div>

<h2> Aww, yeah. An update is coming! </h2>
<div class="row">
  <div class="col-md-4">
    <p class="lead">
      Fitrep beta is coming out very soon.

      And yes, you'll be to log your personal workouts.
    </p>
  </div>
  <div class="col-md-8">
    <img src="coming_soon.png">
  </div>
</div>
