<div class="jumbotron">
  <center>
    <h1>fitrep</h1>
    <h2>For your fitness tracking and reporting needs.</h2>
    <br><br>
    <%= link_to "See the Demo!", workout_sessions_path, class: "new_workout_session btn btn-success" %>
  </center>
</div>
