<div class="jumbotron">
  <center>
    <h1><span class="glyphicon glyphicon-flash" aria-hiddenh="true"></span> fitrep</h1>
    <h2>For your fitness tracking and reporting needs.</h2>
    <%= link_to "See the Demo!", workout_sessions_path, class: "new_workout_session btn btn-success" %>
  </center>
</div>
