<% provide(:header, "Upcoming Features") %>
  <ul>
    <li>User sign in</li>
    <li>Create template workouts</li>
    <li>Schedule workouts</li>
    <li>More detailed exercise reports</li>
    <li>Personal record timeline</li>
    <li>Admin panel</li>
  </ul>

  <hr>

<p>For other news, check out the <a href="https://github.com/foxiae/fitrep">github repo.</a></p>
