<h1>All Workouts</h1>

<table>
  <% @workout_sessions.each do |workout_session| %>
    <tr>
        <td>
          <div class="btn-group btn-lg btn-block" width="80%">
            <button type="button" class="btn btn-success btn-lg">
              <%= link_to "Workout Focus: " + workout_session.workout_focus, workout_session_path(workout_session) %>
            </button>
            <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <li class="dropdown-header">Brief Summary:</li>
              <li class="disabled">
                <a class="dropdown-item disabled" href="#">Workout Time: <%= workout_session.workout_time %></a>
              </li>
              <li class="disabled">
                <a class="dropdown-item disabled" href="#">Workout Intensity: <%= workout_session.workout_time %></a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Edit</a></li>
            </div>
          </div>
        </td>
    </tr>
  <% end %>
</table>

<%= link_to "Create New Workout", new_workout_session_path, class: "new_workout_session" %>
