<h2 class="lead"><b>Workout Satistics</b></h2>
<ul>
  <li>Average Workout Time</li>
  <li>Last Workout Focus</li>
  <li>Personal Records</li>
</ul>

<hr>


<h2 class="lead"><b>Past Workouts</b></h2>
<div class="row-fluid">
  <% @workout_sessions.each do |workout_session| %>
    <div class="btn-group btn-lg btn-block">
        <div class="col-md-7 col-md-offset-1">
          <%= link_to "Workout Focus: " + workout_session.workout_focus, workout_session_path(workout_session), class: "btn btn-block btn-lg list-group-item" %>
        </div>
        <div class="btn-group col-md-1">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Brief Summary:</li>
            <li class="dropdown-item"><p>Workout Time: <%= workout_session.workout_time %></p></li>
            <li class="dropdown-item"><p>Workout Intensity: <%= workout_session.workout_time %></p></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Edit</a></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>
